.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 40px;
  background-color: #242323;
  border-top: 2px solid #555;
  text-align: center;
  flex-direction: column;
  box-shadow: none;
}

.copyRight {
  font-size: 18px;
  font-weight: bold;
  color: #bbb;
  margin-top: 10px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 120px;
  display: block;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .copyRight {
    order: 2;
    margin-top: 10px;
  }

  .logoContainer {
    order: 1;
    margin-bottom: 10px;
  }
}

@media (max-width: 468px) {
  .footer {
    padding: 15px;
  }

  .logo img {
    width: 100px;
  }

  .copyRight {
    font-size: 16px;
  }
}
