.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 40px;
  background-color: #242323;
  border-top: 2px solid #555; /* Ensure no shadow from border */
  text-align: center;
  flex-direction: column; /* Adjusting for small screen */
  box-shadow: none; /* Explicitly removing any shadow effect */
}

.copyRight {
  font-size: 18px;
  font-weight: bold;
  color: #bbb;
  margin-top: 10px; /* Space between logo and copyright */
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 120px;
  display: block;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Stacked vertically on smaller screens */
  }

  .copyRight {
    order: 2; /* Move copyright below the logo */
    margin-top: 10px;
  }

  .logoContainer {
    order: 1; /* Logo on top */
    margin-bottom: 10px;
  }
}

@media (max-width: 468px) {
  .footer {
    padding: 15px;
  }

  .logo img {
    width: 100px;
  }

  .copyRight {
    font-size: 16px;
  }
}
